web/website/__pycache__/
tftp/
http/instapxe_agent/squashfs.img
http/dsu/LiveOS/squashfs.img
http/DUP_REPO/
http/reports/
nfs/reports/
nfs/sum_gen8/
nfs/sum_latest/
nfs/exports
EFK/data/
db/*
2_config/instapxe.conf/bios/boot/
2_config/instapxe.conf/efi32/boot/
2_config/instapxe.conf/efi64/boot/
production.env
2_config/instapxe.conf/bios/pxelinux.cfg/01*
