web/website/__pycache__/
tftp/
http/instapxe_agent/squashfs.img
http/dsu/LiveOS/squashfs.img
http/DUP_REPO/
http/reports/
nfs/reports/
nfs/sum_gen8/
nfs/sum_latest/
nfs/exports
EFK/data/
db/
production.env
